In [1]:
import json
import io
import os
from collections import Counter

# Imports the Google Cloud client library
from google.cloud import vision

In [2]:
# Opening JSON file
f = open('insta_post1.json')

In [3]:
# returns JSON object as 
# a dictionary
data = json.load(f)

In [4]:
os.environ["GOOGLE_APPLICATION_CREDENTIALS"]="/Users/kinnarypanchal/Downloads/uda-assignment-4-96341864fcec.json"

In [5]:
def detect_labels_uri(uri):
    """Detects labels in the file located in Google Cloud Storage or on the
    Web."""
    from google.cloud import vision
    client = vision.ImageAnnotatorClient()
    image = vision.Image()
    image.source.image_uri = uri

    response = client.label_detection(image=image)
    labels = response.label_annotations
    
    lbs = list()
    scr = list()
    
#     return labels
    
#     print('Labels:')


    for label in labels:
        lbs.append(label.description)
        scr.append(label.score)
        
        
    return (lbs, scr)

    if response.error.message:
        raise Exception(
            '{}\nFor more info on error messages, check: '
            'https://cloud.google.com/apis/design/errors'.format(
                response.error.message))

In [6]:
len(data)

893

In [7]:
pid = list()
for i in range(0,len(data)):
    pid.append(data[i]['postId'])

In [8]:
items = Counter(pid).keys()
print("No of unique items in the list are:", len(items))

No of unique items in the list are: 675

In [9]:
url = list()
for i in range(0, len(data)):
    url.append(data[i]['imgUrl'])

In [10]:
items = Counter(url).keys()
print("No of unique items in the list are:", len(items))

No of unique items in the list are: 485

### Means there are 675 different posts with 893 images in total. 
### However there are only 485 unique images used throughout all the 675 posts
### This implies multiple posts have same images

In [12]:
for i in range(0, len(data)):
    lbs, scr = detect_labels_uri(url[i])
    data[i]['labels'] = lbs 
    data[i]['score'] = scr
    if i%20 == 0:
        print(i)

0
20
40
60
80
100
120
140
160
180
200
220
240
260
280
300
320
340
360
380
400
420
440
460
480
500
520
540
560
580
600
620
640
660
680
700
720
740
760
780
800
820
840
860
880

In [13]:
with open('insta_label_score.json', 'w') as json_file:
    json.dump(data, json_file)

In [14]:
# Closing file
f.close()

In [15]:
f1 = open('insta_label_score.json')

In [16]:
dt = json.load(f1)

In [18]:
dt[0:4]

[{'postUrl': 'https://www.instagram.com/p/Ckvlx4fA7ch/',
  'description': 'Photo by @paoloverzone | Still wrapped like mummies after their move to the new Grand Egyptian Museum in Giza from sites across Egypt, statues of pharaohs and gods surround its director, Maj. Gen. Atef Moftah. An engineer by training, Moftah was appointed in 2016 by Egypt’s president, Abdel Fattah el Sisi, to oversee the monumental work of the new museum. \nRead the full story at the link in bio and follow @paoloverzone for more images and stories.',
  'commentCount': 217,
  'likeCount': 22920,
  'pubDate': '2022-11-09T14:30:11.000Z',
  'likedByViewer': 'False',
  'isSidecar': 'False',
  'type': 'Photo',
  'caption': 'Photo by National Geographic on November 09, 2022. May be an image of sculpture.',
  'profileUrl': 'https://www.instagram.com/natgeo',
  'username': 'natgeo',
  'imgUrl': 'https://www.instagram.com/p/Ckvlx4fA7ch/media/?size=l',
  'postId': 2.967756835e+18,
  'timestamp': 1668011837270,
  'query': 'https://www.instagram.com/natgeo/',
  'videoUrl': '',
  'viewCount': '',
  'fullName': '',
  'playCount': '',
  'videoDuration': '',
  'taggedFullName1': '',
  'taggedUsername1': '',
  'taggedFullName2': '',
  'taggedUsername2': '',
  'taggedFullName3': '',
  'taggedUsername3': '',
  'taggedFullName4': '',
  'taggedUsername4': '',
  'labels': ['Temple',
   'Sculpture',
   'Statue',
   'World',
   'Art',
   'Landmark',
   'Monument',
   'Classical sculpture',
   'Wood',
   'Artifact'],
  'score': [0.8743597865104675,
   0.8710590600967407,
   0.8659065365791321,
   0.8560667634010315,
   0.7694063186645508,
   0.7690609693527222,
   0.7666013240814209,
   0.7574926614761353,
   0.7487391829490662,
   0.7331680655479431]},
 {'postUrl': 'https://www.instagram.com/p/Ckt9EF4AgD5/',
  'description': 'Read the full story at the link in bio.\n\nDeep within the lush central highlands of Puerto Rico lies a hidden history that goes far beyond the legend of the chupacabra. From centuries-old petroglyphs to sacred ceremonial centers, the Taína Route holds the very real history of an Indigenous culture that was nearly wiped out.\n\nPhotograph by Brian Overcast, Alamy Stock Photo',
  'commentCount': 801,
  'likeCount': 156864,
  'pubDate': '2022-11-08T23:15:10.000Z',
  'likedByViewer': 'False',
  'isSidecar': 'False',
  'type': 'Photo',
  'caption': "Photo by National Geographic on November 08, 2022. May be an image of text that says 'The legend of the chupacabra was born here- but a more fascinating story is carved into the walls'.",
  'profileUrl': 'https://www.instagram.com/natgeo',
  'username': 'natgeo',
  'imgUrl': 'https://www.instagram.com/p/Ckt9EF4AgD5/media/?size=l',
  'postId': 2.967296292e+18,
  'timestamp': 1668011837270,
  'query': 'https://www.instagram.com/natgeo/',
  'videoUrl': '',
  'viewCount': '',
  'fullName': '',
  'playCount': '',
  'videoDuration': '',
  'taggedFullName1': '',
  'taggedUsername1': '',
  'taggedFullName2': '',
  'taggedUsername2': '',
  'taggedFullName3': '',
  'taggedUsername3': '',
  'taggedFullName4': '',
  'taggedUsername4': '',
  'labels': ['World',
   'Font',
   'Bedrock',
   'Landscape',
   'Natural landscape',
   'History',
   'Soil',
   'Cave',
   'Arch',
   'Rock'],
  'score': [0.898686408996582,
   0.8260526657104492,
   0.7738277316093445,
   0.7643269300460815,
   0.6981337666511536,
   0.6690203547477722,
   0.6495804190635681,
   0.6358860731124878,
   0.6288647651672363,
   0.6000621914863586]},
 {'postUrl': 'https://www.instagram.com/p/CktA-_-Ae-l/',
  'description': 'Photo by Corey Arnold @arni_coraldo | San Francisco was the focus of the raccoon portion of my article on urban wildlife, but on most nights during my quest, a coyote seemed to show up and steal the show. This coyote is letting out a defensive warning—a howl toward the presence of a pre-dawn dog walker nearby. Coyotes often feast on rodents and other natural foods found in parks, empty lots, and overgrown green spaces. But there are conflicting opinions about whether coyotes should be allowed to populate dense urban spaces. Pets such as cats and small dogs have increasingly been targeted as the coyotes expand across the San Francisco Bay Area. Check out the story by writer @christinedellamore and me in the July issue or in the link in bio. #urbanwildlife #coyote #howl #carnivore',
  'commentCount': 673,
  'likeCount': 135166,
  'pubDate': '2022-11-08T14:30:10.000Z',
  'likedByViewer': 'False',
  'isSidecar': 'False',
  'type': 'Photo',
  'caption': 'Photo by National Geographic on November 08, 2022. May be an image of animal and nature.',
  'profileUrl': 'https://www.instagram.com/natgeo',
  'username': 'natgeo',
  'imgUrl': 'https://www.instagram.com/p/CktA-_-Ae-l/media/?size=l',
  'postId': 2.967032059e+18,
  'timestamp': 1668011837270,
  'query': 'https://www.instagram.com/natgeo/',
  'videoUrl': '',
  'viewCount': '',
  'fullName': '',
  'playCount': '',
  'videoDuration': '',
  'taggedFullName1': '',
  'taggedUsername1': '',
  'taggedFullName2': '',
  'taggedUsername2': '',
  'taggedFullName3': '',
  'taggedUsername3': '',
  'taggedFullName4': '',
  'taggedUsername4': '',
  'labels': ['Sky',
   'Atmosphere',
   'Building',
   'Cloud',
   'Skyscraper',
   'Tower block',
   'Carnivore',
   'Wood',
   'Horizon',
   'City'],
  'score': [0.9685000777244568,
   0.9481807947158813,
   0.9270790219306946,
   0.9154880046844482,
   0.8911654949188232,
   0.8213402032852173,
   0.8092833161354065,
   0.7655067443847656,
   0.7491734623908997,
   0.748874843120575]},
 {'postUrl': 'https://www.instagram.com/p/CkqtXRvApPf/',
  'description': 'Photos by @lynseyaddario | Drought, conflict, instability, and rising prices are creating unprecedented levels of food insecurity and looming famine across various countries in the Horn of Africa.\n\n(1) In Baidoa, Somalia, Khadijo Ibrahim Abikar, 50, holds her severely malnourished two-year-old granddaughter, Naima Adan Ali, in a medical center supported by the humanitarian aid organization Save the Children. The photograph was taken on the 10th day Naima received treatment, and her health had been improving. “We came due to drought,” says Abikar. “We lost all our livestock, and the farm was affected by locusts. Before, we had more than 55 goats and cattle were 45. Now we have only three camels, and they don’t give milk because they are malnourished.”\n\n(2) The carcasses of animals that died from malnutrition and lack of water from the ongoing drought lay discarded outside Usgure village in northeastern Somalia. The animals belonged to a pastoralist family that owned 200 goats and sheep before the rains ceased. “At the start of drought, we lost two, three goats per day,” says Iqro Jama, 20. "Then we moved here with about 20 and lost the last one a few days ago.”\n\n(3) A health worker measures the arm of Mohamed Ali Ibrahim, a severely malnourished two-year-old, at a mobile health unit in Baidoa.\n\nRead the full story at the link in bio.',
  'commentCount': 1239,
  'likeCount': 96861,
  'pubDate': '2022-11-07T17:00:12.000Z',
  'likedByViewer': 'False',
  'isSidecar': 'True',
  'type': 'Photo',
  'caption': 'Photo by National Geographic on November 07, 2022. May be an image of 1 person and child.',
  'profileUrl': 'https://www.instagram.com/natgeo',
  'username': 'natgeo',
  'imgUrl': 'https://www.instagram.com/p/CkqtXRvApPf/media/?size=l',
  'postId': 2.966382781e+18,
  'timestamp': 1668011837270,
  'query': 'https://www.instagram.com/natgeo/',
  'videoUrl': '',
  'viewCount': '',
  'fullName': '',
  'playCount': '',
  'videoDuration': '',
  'taggedFullName1': '',
  'taggedUsername1': '',
  'taggedFullName2': '',
  'taggedUsername2': '',
  'taggedFullName3': '',
  'taggedUsername3': '',
  'taggedFullName4': '',
  'taggedUsername4': '',
  'labels': ['Event',
   'Flash photography',
   'Darkness',
   'Working animal',
   'Visual arts',
   'Wrinkle',
   'Fictional character',
   'Magenta',
   'Tradition',
   'Flesh'],
  'score': [0.7158313989639282,
   0.693068265914917,
   0.6923282146453857,
   0.6889015436172485,
   0.663655698299408,
   0.6595450639724731,
   0.6589662432670593,
   0.6241316795349121,
   0.6169265508651733,
   0.6102234721183777]}]

In [26]:
lbs = list()
scr = list()
likeCount = list()
commentCount = list()
caption = list()
for i in range(0, len(data)):
    lbs.append(dt[i]['labels'])
    scr.append(dt[i]['score'])
    likeCount.append(dt[i]['likeCount'])
    commentCount.append(dt[i]['commentCount'])
    caption.append(dt[i]['caption'])

In [27]:
import pandas as pd

In [29]:
len(lbs)

893

In [30]:
len(scr)

893

In [127]:
df = pd.DataFrame(list(zip(url, lbs, scr, likeCount, commentCount, caption)), columns =['imgUrl','labels', 'score', 'likeCount', 'commentCount', 'caption']) 
df.head()

,imgUrl,labels,score,likeCount,commentCount,caption
0,https://www.instagram.com/p/Ckvlx4fA7ch/media/...,"[Temple, Sculpture, Statue, World, Art, Landma...","[0.8743597865104675, 0.8710590600967407, 0.865...",22920,217,"Photo by National Geographic on November 09, 2..."
1,https://www.instagram.com/p/Ckt9EF4AgD5/media/...,"[World, Font, Bedrock, Landscape, Natural land...","[0.898686408996582, 0.8260526657104492, 0.7738...",156864,801,"Photo by National Geographic on November 08, 2..."
2,https://www.instagram.com/p/CktA-_-Ae-l/media/...,"[Sky, Atmosphere, Building, Cloud, Skyscraper,...","[0.9685000777244568, 0.9481807947158813, 0.927...",135166,673,"Photo by National Geographic on November 08, 2..."
3,https://www.instagram.com/p/CkqtXRvApPf/media/...,"[Event, Flash photography, Darkness, Working a...","[0.7158313989639282, 0.693068265914917, 0.6923...",96861,1239,"Photo by National Geographic on November 07, 2..."
4,https://www.instagram.com/p/CkqtXRvApPf/media/...,"[Event, Flash photography, Darkness, Working a...","[0.7158313989639282, 0.693068265914917, 0.6923...",96861,1239,"Photo by National Geographic on November 07, 2..."

In [33]:
df.to_csv('img_lbs_scr.csv')

In [128]:
df['normalizedLikeCount'] = df['likeCount']/(df['likeCount'].max())
df['normalizedCommentCount'] = df['commentCount']/(df['commentCount'].max())
df['engagementScore'] =  .4*df['normalizedLikeCount'] + .6*df['normalizedCommentCount']
df['engagement'] = df.apply(lambda x: 1 if x['engagementScore'] > df['engagementScore'].median() else 0, axis = 1)
df.head()

,imgUrl,labels,score,likeCount,commentCount,caption,normalizedLikeCount,normalizedCommentCount,engagementScore,engagement
0,https://www.instagram.com/p/Ckvlx4fA7ch/media/...,"[Temple, Sculpture, Statue, World, Art, Landma...","[0.8743597865104675, 0.8710590600967407, 0.865...",22920,217,"Photo by National Geographic on November 09, 2...",0.023917,0.004502,0.012268,0
1,https://www.instagram.com/p/Ckt9EF4AgD5/media/...,"[World, Font, Bedrock, Landscape, Natural land...","[0.898686408996582, 0.8260526657104492, 0.7738...",156864,801,"Photo by National Geographic on November 08, 2...",0.163685,0.016619,0.075445,1
2,https://www.instagram.com/p/CktA-_-Ae-l/media/...,"[Sky, Atmosphere, Building, Cloud, Skyscraper,...","[0.9685000777244568, 0.9481807947158813, 0.927...",135166,673,"Photo by National Geographic on November 08, 2...",0.141043,0.013963,0.064795,1
3,https://www.instagram.com/p/CkqtXRvApPf/media/...,"[Event, Flash photography, Darkness, Working a...","[0.7158313989639282, 0.693068265914917, 0.6923...",96861,1239,"Photo by National Geographic on November 07, 2...",0.101073,0.025706,0.055853,0
4,https://www.instagram.com/p/CkqtXRvApPf/media/...,"[Event, Flash photography, Darkness, Working a...","[0.7158313989639282, 0.693068265914917, 0.6923...",96861,1239,"Photo by National Geographic on November 07, 2...",0.101073,0.025706,0.055853,0

In [129]:
df.to_csv('img_lbs_scr_with_engagement.csv')